@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Configure authenticator app";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<div class="row">
    <div class="col-md-9 flex-column align-content-center" style="text-align: center;margin-bottom: 50px;">
        <partial name="_StatusMessage" for="StatusMessage" />
        <h4>@ViewData["Title"]</h4>

        <!-- Links -->
        <div class="d-flex flex-column py-2">
            <div class="text-center" style="color:black; font-weight: bold;">
                <h2>Download an Authenticator App</h2>
            </div>
            <div class="row my-2 px-2">
                <div class="col d-flex flex-column-reverse my-2">
                    <div class="list-group">
                        <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" class="list-group-item list-group-item-action" target="_blank">
                            <span class="material-icons mx-1" style="color:black;">
                                android
                            </span>Android
                        </a>
                        <a href="https://apps.apple.com/us/app/google-authenticator/id388497605" class="list-group-item list-group-item-action text-center" target="_blank">
                            <div class="d-flex align-self-center justify-content-center">
                                <img src="~/Images/Icons/brand_Apple_Dark.webp" width="18" class="mx-1 align-self-center" />
                                <span>iOS</span>
                            </div>
                        </a>
                    </div>
                    <div class="my-2">
                        <img src="~/Images/Icons/app_GoogleAuthenticator.webp" width="100" />
                    </div>
                    <h4>
                        Google Authenticator
                    </h4>
                </div>

                <div class="col d-flex flex-column-reverse my-2">
                    <div class="list-group">
                        <a href="https://go.microsoft.com/fwlink/?Linkid=825072" class="list-group-item list-group-item-action" target="_blank">
                            <span class="material-icons mx-1" style="color:black;">
                                android
                            </span>Android
                        </a>
                        <a href="https://go.microsoft.com/fwlink/?Linkid=825073" class="list-group-item list-group-item-action text-center" target="_blank">
                            <div class="d-flex align-self-center justify-content-center">
                                <img src="~/Images/Icons/brand_Apple_Dark.webp" width="18" class="mx-1 align-self-center" />
                                <span>iOS</span>
                            </div>
                        </a>
                    </div>
                    <div class="my-2">
                        <img src="~/Images/Icons/app_MicrosoftAuthenticator.webp" width="100" />
                    </div>
                    <h4>
                        Microsoft Authenticator
                    </h4>
                </div>
            </div>
        </div>
        <!-- End Links -->
        <!-- Start QR Code -->
        <div class="d-flex flex-column py-2" style="text-align: center;">
            <div class="text-center" style="color:black; font-weight: bold;">
                <h2>Scan QR Code</h2>
                <h5>with App</h5>
            </div>
            <div class="align-self-center my-3">
                <div id="qrCode"></div>
                <div id="qrCodeData" data-url="@Html.Raw(@Model.AuthenticatorUri)"></div>
            </div>
            <div>
                <p>
                    or manually enter code
                </p>
                <kbd>@Model.SharedKey</kbd>
                <button class="btn btn-outline-primary my-1" title="Copy To Clipboard">
                    <span class="oi oi-clipboard" title="Copy To Clipboard"></span>
                </button>
            </div>
        </div>
        <!-- End QR Code -->
        <!-- Start Verify -->
        <div class="d-flex flex-column py-2" style="text-align: center;">
            <div class="text-center" style="color:black; font-weight: bold;">
                <h2>Enter Verification Code</h2>
            </div>
            <div class="align-self-center">
                <form id="send-code" method="post">
                    <div class="form-group">
                        <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Input.Code" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Verify Code</button>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </form>
            </div>
        </div>
        <!-- End Verify -->
    </div>

    <partial name="_SettingsNav" model=null />
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />


    <script type="text/javascript" src="/javascript/qrcode.min.js"></script>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrCode"),
            {
                text: "@Html.Raw(Model.AuthenticatorUri)",
                width: 150,
                height: 150
            });
    </script>

}
